<!-- Scroll-to-Top Button -->
<button id="scroll-to-top-btn" class="scroll-to-top" aria-label="Scroll to top of page">
  <i class="fas fa-arrow-up"></i>
</button>
<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
      <div class="row">
          <!-- Contact Info Section -->
          <div class="col-md-4">
              <h5 class="footer-heading">Contact Me</h5>
              <ul class="footer-list">
                  <li><i class="fas fa-envelope"></i> <a href="mailto:Akshitmudgal001@gmail.com" class="text-white">Akshitmudgal001@gmail.com</a></li>
                  <li><i class="fas fa-phone-alt"></i> <a href="tel:+91-8506850066" class="text-white">+91-8506850066</a></li>
              </ul>
          </div>
          <!-- Social Media Section -->
          <div class="col-md-4">
              <h5 class="footer-heading">Follow Me</h5>
              <div class="social-links">
                  <a href="mailto:Akshitmudgal001@gmail.com" class="btn btn-light social-icon"><i class="fas fa-envelope"></i></a>
                  <a href="https://www.linkedin.com/in/annumudgal001/" target="_blank" class="btn btn-light social-icon"><i class="fab fa-linkedin-in"></i></a>
                  <a href="https://github.com/annumudgal001" target="_blank" class="btn btn-light social-icon"><i class="fab fa-github"></i></a>
                  <a href="https://twitter.com/annumudgal001" target="_blank" class="btn btn-light social-icon"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.instagram.com/akshit_mudgal_/" target="_blank" class="btn btn-light social-icon"><i class="fab fa-instagram"></i></a>
              </div>
          </div>
          <!-- Footer Links Section -->
          <div class="col-md-4">
              <h5 class="footer-heading"><br><br>Quick Links</h5>
              <ul class="footer-list">
                  <li><a href="/#projects" class="text-white">Featured Projects</a></li>
                  <li><a href="/services" class="text-white">Services</a></li>
                  <li><a href="/skills" class="text-white">Skills</a></li>
                  <li><a href="/" class="text-white">About Me</a></li>
              </ul>
          </div>
      </div>
      <!-- Footer Bottom Section -->
      <div class="row mt-4">
          <div class="col-md-12 text-center">
              <p class="mb-0">© 2025 Annu Mudgal. All Rights Reserved.</p>
              <p class="mb-0"><small>Designed and Developed by <a href="https://github.com/annumudgal001" target="_blank" class="text-white">Annu Mudgal</a></small></p>
          </div>
      </div>
  </div>
</footer>

<!-- Bootstrap Bundle JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!-- Custom JavaScript -->
<script src="/javascript/script.js"></script>
</body>
</html>